{% extends "base.html" %}

{% block content %}

<div id="404-page" style="text-align: center;">
	<h1>Oops...</h1>
	<h2>It looks like the page you were looking for could not be found.</h2>
	<h3>Honestly, We've looked everywhere.</h3>
</div>

{% endblock %}