{% extends "main.html" %}

{% block content %}

<div class="container-fluid full-height-nav" style="background: url({{ url_for('static', filename='img/background.jpg') }}) no-repeat left bottom scroll; background-size: cover; margin: 0; position:relative;">
	<div class="container" style="background-color: #fff">
		<div class="create-event">
			<h1>+ Create Event Room</h1>
		</div>
		<div class="new-event" style="display: none">
			<h1>Create Event Room</h1>
			<form class="event-form" method="post">
				<select name="sport" class="form-control" required>
					<option selected disabled>Select a Sport</option>
					{% for sport in sports %}
					<option value="{{ sport }}">{{ sport }}</option>
					{% endfor %}
				</select>
				<div class="form-group">
					<label class="sr-only" for="title">Event Title (e.g. Scotland vs England)</label>
					<input type="text" class="form-control" name="title" id="title" required minlength="6" placeholder="Event Title (e.g. Scotland vs England)">
				</div>
				<div style="text-align: center;">
					<button type="submit" class="btn btn-default">Create</button>
					<button type="button" id="cancelCreate" class="btn btn-default">Cancel</button>
				</div>
			</form>
		</div>
		<h1>Top Events Right Now</h1>
		{% if error is defined %}
			<h2><i>{{ error }}...</i></h2>
		{% else %}
		<div class="topRooms">
			{% for room in rooms.items() %}
			{% set id = room[1][0] %}
			{% set title = room[1][1] %}
			{% set sport = room[1][2] %}
			{% set users = room[1][3] %}

			<div class="col-sm-3 toproom">
				<a href="sports/{{ sport }}/{{ title }}/{{ id }}">
					<h4>{{ title }}</h4>
					<h5>{{ sport }}</h5>
					<p>Users: <span id="top{{ id }}users">{{ users }}</span></p>
				</a>
			</div>

			{% endfor %}
		</div>
		{% endif %}
		<h1>Newest Events</h1>
		{% if error is defined %}
		<h2><i>{{ error }}...</i></h2>
		{% else %}
		<div class="topRooms">
			{% for room in newrooms.items() %}
			{% set id = room[1][0] %}
			{% set title = room[1][1] %}
			{% set sport = room[1][2] %}
			{% set users = room[1][3] %}

			<div class="col-sm-3 toproom">
				<a href="sports/{{ sport }}/{{ title }}/{{ id }}">
					<h4>{{ title }}</h4>
					<h5>{{ sport }}</h5>
					<p>Users: <span id="new{{ id }}users">{{ users }}</span></p>
				</a>
			</div>

			{% endfor %}
		</div>
		{% endif %}
		<div class="col-sm-6">
			<h1>Total Users in Events:</h1>
			<h2 id="inrooms">{{ totalusers }}</h2>
		</div>
		<div class="col-sm-6">
			<h1>Total Active Events:</h1>
			<h2 id="totalrooms">{{ totalrooms }}</h2>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}

<script>

	//the namespace for this project
	namespace = '/test';

	// Connect to the Socket.IO server.
	var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

	//whenever a user joins or leaves any room this function will run
	socket.on('roomupdate', function(msg){
		toproomid = "#top"+msg.room+"users";
		$(toproomid).html(msg.data);
		newroomid = "#new"+msg.room+"users";
		$(newroomid).html(msg.data);
		//alert(roomid+' '+msg.data);
	});

	socket.on('totalusers', function(msg){
		$('#inrooms').html(msg.data);
	});

	socket.on('totalrooms', function(msg){
		$('#totalrooms').html(msg.data);
	})
</script>

{% endblock %}