{% extends "base.html" %}

{% block title %}- Login{% endblock %}

{% block stylehseets %}
<style type="text/css">
	::-webkit-scrollbar{
		display: none;
	}
</style>

{% endblock %}

{% block navbar %}

<li class="inline">Not got an account? <a href="{{ url_for('register') }}">Register</a></li>
<form class="navbar-form inline" method="post">
	<div class="form-group">
		<label class="sr-only">Username</label>
		<input class="form-control" type="text" name="username" placeholder="Username" required minlength="6">
	</div>
	<div class="form-group">
		<label class="sr-only">Password</label>
		<input class="form-control" type="password" name="password" placeholder="Password" required minlength="6">
	</div>
	<button type="submit" class="btn btn-default">Sign In</button>
</form>

{% endblock %}

{% block content %}

{% if error %}

<p class="error" style="display: none">{{ error }}</p>

{% endif %}

<div class="container-fluid full-height-nav" id="login" style="background: url({{ url_for('static', filename='img/background.jpg') }}) no-repeat scroll bottom; background-size: cover; margin: 0; position:relative;">
	<div class="scroll-full sticky-bottom" style="left: 50%;"><a id="findMore"><h1><span class="glyphicon glyphicon-chevron-down"></span><br>Find Out More</h1></a></div>
</div>
<div class="container-fluid full-height" id="findOutMore" style="position:relative">
	<div class="container" style="position: relative">
		<img alt="brand" src="{{ url_for('static', filename='img/brand.png') }}" style="height: 100px; display: inline-block;"> <h1 style="display: inline-block;">Armchair Fans</h1>
		<h2>What is it?</h2>
		<p>Armchair fans was designed to bring people together while watching the same sporting event. While watching the event on TV you can chat with other people and feel closer to the game than ever from the comfort of your own home.</p>
		<h2>What does it cost?</h2>
		<p>This site is completely free to use. We dont charge a penny!</p>
		<h2>What events are discussed here?</h2>
		<p>That's completely up to you! This site allows the users to have total control of what event they want to talk about. You can create your own group for an event or join a group that has already been created.</p>
		<div style="height: 150px;"></div>
		<div class="scroll-full sticky-bottom" style="left: 50%;"><a href="#navbar" id="backTop"><h1><span class="glyphicon glyphicon-chevron-up"></span><br>Back To Top</h1></a></div>
	</div>
</div>
{% endblock %}