{% extends "base.html" %}

{% block navbar %}

<li></li>
<li {% if request.endpoint == "account" %} class="active" {% endif %}><a href="{{ url_for('account') }}">My Account</a></li>
<li {% if request.endpoint == "sports" %} class="active" {% endif %}><a href="{{ url_for('sports') }}">Sports</a></li>
<li><a href="{{ url_for('logout') }}">Sign Out</a></li>

{% endblock %}