{% extends "main.html" %}

{% block title %}- My Account{% endblock %}

{% block content %}
{% if error is defined %}

<script>alert("{{ error }}")</script>

{% endif %}
<div class="container">
	<h1>{{ username }}</h1>
	<button type="button" class="btn btn-default" id="changetoggle">Change Password</button>
	<form method="post" class="changeDetails">
		<input type="hidden" name="formtype" id="formtype" value="email">
		<div class="form-group" id="emailgroup">
			<h2>Change Email Address</h2>
			<label class="sr-only" for="email">Email Address</label>
			<input class="form-control" id="email" type="email" name="email" value="{{ email }}" minlength="6" required placeholder="email@example.com">
		</div>
		<div id="passwordgroup" style="display: none;">
			<h2>Change Password</h2>
			<div class="form-group">
				<label class="sr-only" for="password">Current Password</label>
				<input class="form-control" id="password" type="password" name="password" minlength="6" placeholder="current password">
			</div>
			<div class="form-group">
				<label class="sr-only" for="nPassword">New Password</label>
				<input class="form-control" id="nPassword" type="password" name="nPassword" minlength="6" placeholder="new password">
			</div>
			<div class="form-group">
				<label class="sr-only" for="cnPassword">Confirm New Password</label>
				<input class="form-control" id="cnPassword" type="password" name="cnPassword" minlength="6" placeholder="confirm new password">
			</div>
		</div>
		<div style="text-align: center;">
			<button type="submit" class="btn btn-default">Update</button>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}

<script>
	$(function(){

		$("#changetoggle").click(function(){
			if ($(this).html() == "Change Password") {
				$(this).html("Change Email Address");
				$("#email").val("");
				$("#email").prop('required', false);
				$("#formtype").val("password");
				$("#password").prop('required', true);
				$("#nPassword").prop('required', true);
				$("#cnPassword").prop('required', true);
			} else {
				$(this).html("Change Password");
				$("#email").val("{{ email }}");
				$("#email").prop('required', true);
				$("#formtype").val("email");
				$("#password").prop('required', false);
				$("#nPassword").prop('required', false);
				$("#cnPassword").prop('required', false);
			}
			$("#emailgroup").toggle();
			$("#passwordgroup").toggle();
		})

		$(".changeDetails").submit(function(e){
			var email = $("#email").val()
			var nPassword = $("#nPassword").val();
			var cnPassword = $("#cnPassword").val();
			if ($("#formtype").val() == "email") {
				if (!isEmail(email)) {
					e.preventDefault();
					alert(email+" is not a valid email address");
					$("#email").val("");
				} else {
					 return;
				}
			} else {
				if (nPassword === cnPassword && password === nPassword) {
					e.preventDefault();
					alert("Your new password cannot be the same as your old one");
				}
				else if (nPassword !== cnPassword) {
					e.preventDefault();
					alert("New passwords do not match");
					$("#password").val("");
					$("#nPassword").val("");
					$("#cnPassword").val("");
				} else {
					return;
				}
			}
		})
	})
</script>

{% endblock %}