{% extends "base.html" %}

{% block title %}- Register{% endblock %}

{% block navbar %}

<li>Got an account? <a href="{{ url_for('login') }}" class="inline">Login</a></li>

{% endblock %}

{% block content %}

<div class="container-fluid full-height-nav" style="background: url({{ url_for('static', filename='img/background.jpg') }}) no-repeat left bottom fixed; background-size: cover; margin: 0; position:relative;">
	<div class="small-form center transparent-bg" style="margin-top: 50px;">
		<h1>Register</h1>
		<form method="post" id="registration" enctype="multipart/form-data">
			<div class="form-group">
				<label class="sr-only" for="username">Username</label>
				<input type="text" class="form-control" name="username" id="username" minlength="6" required placeholder="username">
			</div>
			<div class="form-group">
				<label class="sr-only" for="email">Email</label>
				<input type="email" name="email" class="form-control" id="email" minlength="6" required placeholder="email">
			</div>
			<div class="form-group">
				<label class="sr-only" for="password">Password</label>
				<input type="password" name="password" class="form-control" id="password" minlength="6" required placeholder="password">
			</div>
			<div class="form-group">
				<label class="sr-only" for="cPassword">Confirm Password</label>
				<input type="password" name="cPassword" class="form-control" id="cPassword" minlength="6" required placeholder="confirm password">
			</div>
			<div style="text-align: center">
				<button type="submit" class="btn btn-default">Register</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}