{% extends "main.html" %}

{% block content %}

<div class="container">
	<h1>{{ title }}</h1>
	<button id="showRoomDetails" type="button" class="btn btn-default">Show Details</button>
	<div class="roomDetails" style="display: none">
		<h2>Created: {{ created }}</h2>
		<h2 id="expiresDate">Expires: {{ expires }}</h2>
		<h3>Users in room: <span id="numusers"></span></h3>
	</div>
	<div class="room-chat" id="{{ title }}"></div>
	<div class="chat-controls">
		<input type="hidden" name="roomname" id="roomname" value="{{ id }}">
		<textarea name="message" id="message" placeholder="type your message here..."></textarea>
		<button class="btn btn-default" id="sendMessage">Send</button>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function() {
    		//the namespace for this project
            namespace = '/test';

            // Connect to the Socket.IO server.
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            var lastMessage = 3;
            setInterval(function(){
            	lastMessage++;
            }, 1000);

            //submit the message
            function submitmessage(){
            	if (lastMessage < 3) {
            		lastMessage = 0;
            		alert("You are sending too many messages. Please wait at least 3 seconds between messages");
            	} else {
            		lastMessage = 0;
            		socket.emit('my_room_event', {room: $('#roomname').val(), data: "{{ username }}: "+$('#message').val()});
            		$('#message').val("");
            	}
            }

            //update the number of users in the group
            socket.on('updateusers', function(msg){
            	$('#numusers').html(msg.data);
            });

            //send new messages to the chat when received
            socket.on('my_response', function(msg) {
                if (msg.data != "Connected") {
                    msgparts = msg.data.split(/:(.+)?/);
                    username = msgparts[0];
                    message = msgparts[1];
                    color = msg.color;
                    $('.room-chat').append('<p><span style="color: '+color+'">' + username + '</span>: ' + message + '</p>');
                } else {
                    $('.room-chat').append('<p>' + msg.data + '</p>');
                }
                $('.room-chat').animate({scrollTop: $('.room-chat').prop('scrollHeight')});
            });

            // Handlers for joining room and sending messages
            socket.emit('join', {room: $('#roomname').val()});

            //leave the room and disconnect the user when they leave the page
            $(window).unload(function(){
            	socket.emit('leave', {room: $('#roomname').val()});
            	socket.emit('disconnect_request');
            });

            //submit the message when the enter key is pressed
            $("#message").keyup(function(e){
		        if (e.keyCode === 13) {
		            submitmessage();
		        }
		    });

            //submit the message when the send button is clicked
            $('#sendMessage').click(function(event) {
                submitmessage();
            });
        });
</script>

{% endblock %}