{% extends "main.html" %}

{% block title %}- {{ sport }}{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="container" style="background-color: #fff;">
		{% if error is defined %}
		<h1><i>{{ error }}...</i></h1>
		{% else %}
			<div class="search-box has-feedback" style="margin-top: 20px;">
				<input class="form-control" placeholder="Filter By Room Name" type="text" name="search" id="search">
				<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Title</th>
						<th>Users</th>
					</tr>
				</thead>
			{% for room in rooms.items() %}
				<tr class="room-link" data-href="{{ room[1][0] }}/{{ room[1][1] }}">
					<td>
						{{ room[1][0] }}
					</td>
					<td id="{{ room[1][0] }}users">
					{{ room[1][2] }}
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block scripts %}

<script>

	//the namespace for this project
	namespace = '/test';

	// Connect to the Socket.IO server.
	var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

	//whenever a user joins or leaves any room this function will run
	socket.on('roomupdate', function(msg){
		roomid = "#"+msg.room+"users";
		$(roomid).html(msg.data);
		//alert(roomid+' '+msg.data);
	});

	$("#search").keyup(function(){
		$(".room-link").each(function(){
			var room = $("td", this).html().toLowerCase();
			var q = $("#search").val().toLowerCase();
			if (room.indexOf(q) > -1) {
				$(this).show();
			} else {
				$(this).hide();
			}
		})
	})
</script>

{% endblock %}