{% extends "main.html" %}

{% block title %}- Sports{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class="container" style="background-color: #fff;">
		{% for sport in sports %}
		<div class="col-sm-3">
			<a href="{{ sport }}" class="btn btn-default sport-btn">
				<p>{{ sport }}</p>
				<p>rooms: {% if roomCounts[sport] is defined %}
					{{ roomCounts[sport] }}
					{% else %}
					0
					{% endif %}
				</p>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}