.navbar{
	margin: 0;
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.sticky-bottom{
	position: absolute;
	bottom: 0;
}
#findMore, #backTop{
	position: relative;
	left: -50%;
	color: #999;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	&:hover{
		text-decoration: none;
		color: #666;
		cursor: pointer;
	}
}

.inline{
	display: inline-block !important;
	a{
		display: inline-block !important;
	}
}

.small-form{
	width: 100%;
	max-width: 600px;
	padding: 20px;
	border-radius: 20px;
	h1{
		margin-top: 0;
	}
}

.transparent-bg{
	background-color: rgba(255,255,255,0.9);
}

.create-event{
	border: 5px dashed #666;
	padding: 50px;
	margin: 50px;
	text-align: center;
	color: #666;
	&:hover{
		cursor: pointer;
		border-color: #b20000;
		color: #b20000;
	}
}

.new-event{
	border: 5px dashed #ccc;
	padding: 50px;
	margin: 50px;
	text-align: center;
	.event-form{
		input{
			margin: 20px 0;
		}
	}
}

.sport-btn{
	padding: 50px 0;
	margin: 20px 0;
	width: 100%;
	p{
		margin: 0;
	}
}

.room-link{
	&:hover{
		background-color: #b20000 !important;
		color: #fff;
		cursor: pointer;
	}
}

.room-chat{
	width: 100%;
	min-height: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	overflow-y: hidden;
}

.info-message{
	color: #cc3333;
}

#showRoomDetails{
	margin-bottom: 10px;
}

#message{
	padding: 5px;
	width: 80%;
	margin: 10px 0;
	float: left;
	height: 50px;
	border: 1px solid #ccc;
	border-right: none;
	resize: none;
}

#sendMessage{
	width: 20%;
	margin: 10px 0;
	float: left;
	height: 50px;
	border: 1px solid #b20000;
	border-radius: 0;
	background-color: #b20000;
	color: #fff;
	&:hover{
		background-color: #800000;
	}
}

.toproom{
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	a{
		color: #333;
		&:hover{
			text-decoration: none;
		}
	}
	&:hover{
		border-color: #b20000;
		a{
			color: #b20000;
		}
	}
}

@media(min-width:768px){
	.topRooms{
		display: table;
		border-spacing: 10px;
		.toproom{
			display: table-cell;
			float: none;
		}
	}

	.search-box{
		float: right;
		width: 25%;
	}
}