/* line 1, ../sass/main.scss */
.navbar {
  margin: 0;
}

/* line 4, ../sass/main.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 8, ../sass/main.scss */
.sticky-bottom {
  position: absolute;
  bottom: 0;
}

/* line 12, ../sass/main.scss */
#findMore, #backTop {
  position: relative;
  left: -50%;
  color: #999;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/* line 18, ../sass/main.scss */
#findMore:hover, #backTop:hover {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

/* line 25, ../sass/main.scss */
.inline {
  display: inline-block !important;
}
/* line 27, ../sass/main.scss */
.inline a {
  display: inline-block !important;
}

/* line 32, ../sass/main.scss */
.small-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
}
/* line 37, ../sass/main.scss */
.small-form h1 {
  margin-top: 0;
}

/* line 42, ../sass/main.scss */
.transparent-bg {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 46, ../sass/main.scss */
.create-event {
  border: 5px dashed #666;
  padding: 50px;
  margin: 50px;
  text-align: center;
  color: #666;
}
/* line 52, ../sass/main.scss */
.create-event:hover {
  cursor: pointer;
  border-color: #b20000;
  color: #b20000;
}

/* line 59, ../sass/main.scss */
.new-event {
  border: 5px dashed #ccc;
  padding: 50px;
  margin: 50px;
  text-align: center;
}
/* line 65, ../sass/main.scss */
.new-event .event-form input {
  margin: 20px 0;
}

/* line 71, ../sass/main.scss */
.sport-btn {
  padding: 50px 0;
  margin: 20px 0;
  width: 100%;
}
/* line 75, ../sass/main.scss */
.sport-btn p {
  margin: 0;
}

/* line 81, ../sass/main.scss */
.room-link:hover {
  background-color: #b20000 !important;
  color: #fff;
  cursor: pointer;
}

/* line 88, ../sass/main.scss */
.room-chat {
  width: 100%;
  min-height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  overflow-y: hidden;
}

/* line 97, ../sass/main.scss */
.info-message {
  color: #cc3333;
}

/* line 101, ../sass/main.scss */
#showRoomDetails {
  margin-bottom: 10px;
}

/* line 105, ../sass/main.scss */
#message {
  padding: 5px;
  width: 80%;
  margin: 10px 0;
  float: left;
  height: 50px;
  border: 1px solid #ccc;
  border-right: none;
  resize: none;
}

/* line 116, ../sass/main.scss */
#sendMessage {
  width: 20%;
  margin: 10px 0;
  float: left;
  height: 50px;
  border: 1px solid #b20000;
  border-radius: 0;
  background-color: #b20000;
  color: #fff;
}
/* line 125, ../sass/main.scss */
#sendMessage:hover {
  background-color: #800000;
}

/* line 130, ../sass/main.scss */
.toproom {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
/* line 136, ../sass/main.scss */
.toproom a {
  color: #333;
}
/* line 138, ../sass/main.scss */
.toproom a:hover {
  text-decoration: none;
}
/* line 142, ../sass/main.scss */
.toproom:hover {
  border-color: #b20000;
}
/* line 144, ../sass/main.scss */
.toproom:hover a {
  color: #b20000;
}

@media (min-width: 768px) {
  /* line 151, ../sass/main.scss */
  .topRooms {
    display: table;
    border-spacing: 10px;
  }
  /* line 154, ../sass/main.scss */
  .topRooms .toproom {
    display: table-cell;
    float: none;
  }

  /* line 160, ../sass/main.scss */
  .search-box {
    float: right;
    width: 25%;
  }
}
